<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="poly.persistance.mapper.BoardMapper">


<!-- //////////////////////// 게시판  ////////////////////////////-->

	<!-- 게시판 총 게시글 수 세기 -->
	<select id="TotalCount" resultType="Integer">
		SELECT COUNT(*)
		FROM
		board
	</select>
	<!-- 게시판 리스트 불러오기 -->
	<select id="getBoardList" resultType="BoardDTO" parameterType="BoardDTO">
 	SELECT
		BOARD_SEQ,
		TITLE,
		USER_NAME,
		UPD_DATE
	FROM
		BOARD
	ORDER BY BOARD_SEQ DESC
	LIMIT #{startlist}, #{listsize} 
	</select>
	<!-- 게시판 글 작성 실행하기 -->	
	<insert id="InsertBoardWriteProc" parameterType="BoardDTO">
		INSERT
		INTO
		board
		(
		TITLE,
		CONTENT,
		USER_NAME,
		UPD_DATE
		) 
		VALUES
		(
		#{title},
		#{content},
		#{user_name},
		SYSDATE()
		)
	</insert>
	<!-- 게시판 글 디테일 불러오기 -->
	<select id="getBoardDetail" parameterType="BoardDTO" resultType="BoardDTO">
		SELECT
		TITLE,
		CONTENT,
		UPD_DATE,
		USER_NAME,
		BOARD_SEQ
		FROM
		BOARD
		WHERE
		BOARD_SEQ = #{Seq}
	</select>
	<!-- 게시판 글 수정/삭제 이동 전 권한 확인하기 -->
	<select id="UserCheck" resultType="BoardDTO" parameterType="BoardDTO">
		SELECT
		USER_NAME
		FROM
		BOARD
		WHERE
		BOARD_SEQ = #{board_seq}
	</select>
	<!-- 게시판 글 수정/삭제 창으로 이동하기 -->
	<select id="BoardReWrite" parameterType="BoardDTO" resultType="BoardDTO">
		SELECT
		BOARD_SEQ,
		TITLE,
		CONTENT
		FROM
		BOARD
		WHERE
		BOARD_SEQ =
		#{board_seq}
	</select>


<!-- //////////////////////// 댓글 ////////////////////////////-->

	<!-- 댓글 리스트 불러오기 -->
	 <select id="readReply" resultType="CommentDTO" parameterType="CommentDTO">
  		SELECT
  		BOARD_SEQ,
  		RNO,
  		CONTENT,
  		WRITER
  		FROM
  		MYREPLY
  		WHERE 
  		BOARD_SEQ = #{seq}
 	 </select>
 	 <!-- 댓글 작성 실행하기 -->
 	 <insert id="InsertComment" parameterType="CommentDTO">
		INSERT INTO MYREPLY (
		BOARD_SEQ,
		CONTENT,
		WRITER
		)
		VALUES
		(
		#{board_seq},
		#{content},
		#{writer}
		)
	</insert>





<!-- 




	



	<select id="ModifyCertify2" parameterType="BMFBDTO"
		resultType="BMFBDTO">
		SELECT
		BOARD_PW AS board_pw
		FROM FBTABLE
		WHERE
		BOARD_PW =
		#{board_pw}
		AND BOARD_SEQ = #{board_seq}
	</select>
	
	<select id="GUI2" parameterType="BMFBDTO" resultType="BMFBDTO">
		SELECT
		TITLE AS title,
		CONTENT AS content,
		UPD_DATE AS upd_date,
		USER_ID AS
		user_id,
		BOARD_PW AS board_pw,
		BOARD_SEQ AS board_seq
		FROM FBTABLE
		WHERE
		BOARD_PW = #{board_pw}
		AND BOARD_SEQ = #{board_seq}
	</select>

	<select id="GUI3" parameterType="BMFBDTO" resultType="BMFBDTO">
		SELECT
		TITLE AS title,
		CONTENT AS content,
		UPD_DATE AS upd_date,
		USER_ID AS
		user_id,
		BOARD_PW AS board_pw,
		BOARD_SEQ AS board_seq
		FROM FBTABLE
		WHERE
		BOARD_SEQ = #{board_seq}
	</select>



	<select id="GUI4" parameterType="BMFBDTO" resultType="BMFBDTO">
		SELECT
		TITLE AS title,
		CONTENT AS content,
		UPD_DATE AS upd_date,
		BOARD_PW AS
		board_pw,
		BOARD_SEQ AS board_seq
		FROM FBTABLE
		WHERE
		BOARD_SEQ =
		#{board_seq}
	</select>


	<select id="BMFreeBDModify" parameterType="BMFBDTO"
		resultType="BMFBDTO">
		SELECT
		TITLE AS title,
		CONTENT AS content,
		UPD_DATE AS
		upd_date,
		USER_ID AS user_id,
		BOARD_PW AS board_pw,
		BOARD_SEQ AS seq
		FROM
		FBTABLE
		WHERE
		BOARD_SEQ = #{seq}
	</select>


	<update id="updateFB" parameterType="BMFBDTO">
		UPDATE FBTABLE SET
		TITLE =
		#{title},
		CONTENT = #{content},
		BOARD_PW = #{board_pw},
		UPD_DATE =
		SYSDATE
		WHERE
		BOARD_SEQ = #{board_seq}
	</update>


	<delete id="deleteFB" parameterType="BMFBDTO">
		DELETE
		FROM
		FBTABLE
		WHERE
		BOARD_SEQ = #{board_seq}
	</delete>




	
	<select id="TotalCountUserInfo" resultType="int">
		SELECT COUNT(*)
		FROM
		USERTABLE
	</select>




	<select id="ModifyCertify3" resultType="int">
		SELECT COUNT(*)
		FROM
		USERTABLE
		WHERE
		USER_PW = #{user_pw}
		AND USER_ID = #{user_id}
	</select>
	

 	 
 	 
 	 
 	 

	
	
	<select id="CommentModifyTry" parameterType="COMMENTDTO"
		resultType="COMMENTDTO">
		SELECT
		RNO AS rno
		FROM MYREPLY
		WHERE
		RNO =
		#{rno}
	</select>
	
	
	
	<select id="CommentCertify" parameterType="COMMENTDTO" resultType="int">
		SELECT COUNT(*)
		FROM MYREPLY
		WHERE
			RNO = #{rno}
		AND PW = #{pw}
	</select>
	
	
	<select id="CommentCertify2" parameterType="COMMENTDTO" resultType="COMMENTDTO">
		SELECT
			BOARD_SEQ AS board_seq,
			RNO AS rno,
			CONTENT AS content,
			WRITER AS writer,
			PW AS pw
		FROM MYREPLY
		WHERE
			RNO = #{rno}
		AND PW = #{pw}
	</select>
	
	
	<update id="CommentUpdate" parameterType="COMMENTDTO">
		UPDATE MYREPLY SET
		CONTENT = #{content},
		PW = #{pw},
		WRITER = #{writer}
		WHERE
		RNO = #{rno}
	</update>
	
	
	<delete id="CommentDelete" parameterType="COMMENTDTO">
		DELETE
		FROM
		MYREPLY
		WHERE
		RNO = #{rno}
	</delete>
	
	
	<select id="selectRe" parameterType="COMMENTDTO" resultType="COMMENTDTO">
		SELECT
			BOARD_SEQ AS board_seq,
			CONTENT AS content,
			WRITER AS writer
		FROM MYREPLY
		WHERE
			RNO = #{rno}
	</select> -->
</mapper>
